[Unit]
Description=Minecraft Server
After=network-online.target

[Service]
WorkingDirectory=/home/minecraft/server
Restart=always
ExecStart=/usr/bin/tmux new-session -s minecraft -d '/usr/bin/java -Xmx512M -Xms512M -jar /home/minecraft/server/server.jar nogui'
ExecStop=/usr/bin/tmux send -t minecraft:0.0 'say SERVER SHUTTING DOWN. Saving map...' C-m 'save-all' C-m
ExecStop=/bin/sleep 5
ExecStop=/usr/bin/tmux send -t minecraft:0.0 'stop' C-m
# ExecStop=/home/minecraft/server/backup-to-s3
Type=forking
User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
